body {
  background-color: #1A1A1D;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
}

header {
  padding: 20px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header img {
  margin: 0 20px 0 20px;
}

header h1 {
  font-family: 'Muli', sans-serif;
  color: #000000;
  font-weight: 200;
  margin: 0;
}

header nav li{
  font-family: 'Montserrat';
  display: inline;
  margin: 0;
  padding: 0 10px;
  justify-content: flex-end;
}

header nav ul {
  font-family: 'Montserrat';
  display: inline;
}

section h2 {
  font-family: 'Muli', sans-serif;
  color: #000000;
  font-weight: 300;
  font-size: 40px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("jumbo2.svg");
  background-size: cover;
  color: #ffffff;
  height: 450px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron p {
  font-family: 'Montserrat';
  font-size: 20px;
  padding: 20px 75px;
  color: #666666;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #333;
}

section h3 {
  color: #333333;
}


footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}