body {
  background-color: #1A1A1D;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
}

header {
  padding: 20px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header img {
  max-height: 50px;
  max-width: 50px;
  margin: 0 20px 0 20px;
}

header h1 {
  color: #da8987;
  font-weight: 200;
  margin: 0;
}

header nav li{
  display: inline;
  margin: 0;
  padding: 0 10px;
  justify-content: flex-end;
}

header nav ul {
  display: inline;
}

header a:link {
  color: #819595;
}

header a:visited {
  color: #696773;
}

header a:hover {
  color: #363946;
}

#jumbo1 {
  display: flex;
  align-items: center;
  background-image: url("cloud6.jpg");
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

#jumbo1 h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

#jumbo1 h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

section .row a {
  font-family: 'Montserrat';
  align-items: center;
  font-size: 30px;
}

section .row a:link {
  color: #819595;
}

section .row a:visited {
  color: #696773;
}

section .row a:hover {
  color: #363946;
}

.col-md-6 {
  margin: 0 0 30px;
}


#about {
  display: flex;
  align-items: center;
  background-image: url("cloud5.jpg");
  background-size: cover;
  color: #da8987;
  height: 750px;
}

#about h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  padding: 20px;
  color: #da8987;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

#about p {
  font-family: 'Montserrat';
  font-size: 20px;
  padding: 20px 75px;
  color: #000000;
}

#about h3 {
  margin: 10px;
  padding: 30px 225px;
  color: #363946;
}

#contact header {
  font-family: 'Muli', sans-serif;
  color: #da8987;
  font-size: 50px;
}

#contact a {
  font-family: 'Montserrat';
  font-size: 25px;
  padding: 10px;
}

#contact a:link {
  color: #819595;
}

#contact a:visited {
  color: #696773;
}

#contact a:hover {
  color: #363946;
}

#text h1 {
  font-family: 'Montserrat';
  font-size: 30px;
  color: #abd6d6;
}

#text h2 {
  font-family: 'Montserrat';
  font-weight: 1000;
  font-size: 25px;
  color: #abd6d6;
}

#text h3 {
  font-family: 'Montserrat';
  font-style: italic;
  font-size: 20px;
  color: #abd6d6;
}

#text p {
  color: #abd6d6;
}

footer {
  font-family: 'Montserrat';
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer p {
  color: #819595;
  font-size: 12px;
}
footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

