body {
  background-color: #0F1626;
	font-family: 'Biryani', sans-serif;
	font-weight: 300;
}

header {
  padding-top: 30px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  color: #FF533D;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
  margin: 0;
  letter-spacing: 5px;
}

hr {
	height: 4px;
	color: #AB987A;
	background-color: #AB987A;
	border: none;
}
section .row img {
  margin: 0 0 30px;
  width: 100%;
}

section .row a {
  font-family: 'Raleway', sans-serif;
  align-items: center;
  font-size: 30px;
}

section .row a:link {
  color: #819595;
}

section .row a:visited {
  color: #696773;
}

section .row a:hover {
  color: #363946;
}



#about {
  display: flex;
  align-items: center;
  background-image: ;
  background-size: cover;
  color: #da8987;
  height: 450px;
}

#about h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  color: #4281A4;
  /*text-shadow: 1px 1px 1px #F5F5F5;*/
}

#about p {
  font-size: 20px;
  padding: 20px 20px;
  color: #F5F5F5;
}

#about img {
	padding: 20px 20px;
}

#line {
	background-color: #AB987A;
}


#links button {
	font-family: 'Raleway', sans-serif;
	color: #0F1626;
  	font-size: 20px;
  	padding: 20px 20px;
  	text-transform: uppercase;
	padding: 12px 24px;
	letter-spacing: 3px;
	font-weight: bold;
	border-radius: 0 0 10px 10px;
	background-color: #AB987A;
	border: none;
	display: inline-block;
}

#links button:hover {
	background-color: #C1B49E;
	border: none;
	display: inline-block;
}

#contact header {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #4281A4;
  font-size: 40px;
}

#contact a {
	font-family: 'Biryani';
  font-size: 25px;
  padding: 10px;
}

#contact a:link {
  color: #F5F5F5;
}

#contact a:visited {
  color: #B3B3B3;
}

#contact a:hover {
  color: #FF533D;
}

#text h1 {
  font-family: 'Montserrat';
  font-size: 30px;
  color: #abd6d6;
}

#text h2 {
  font-family: 'Montserrat';
  font-weight: 1000;
  font-size: 25px;
  color: #abd6d6;
}

#text h3 {
  font-family: 'Montserrat';
  font-style: italic;
  font-size: 20px;
  color: #abd6d6;
}

#text p {
  color: #abd6d6;
}

footer {
  font-family: 'Montserrat';
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer p {
  color: #819595;
  font-size: 12px;
}
footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

